<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{title}}</title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="../plugins/fontawesome-free/css/all.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="../plugins/dist/css/adminlte.min.css">
  <!-- Switch button Bootstrap -->
  <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
  <!-- Toastr -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
  <link rel="shortcut icon" href="#">

</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="/" class="nav-link">Home</a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="#" class="nav-link">Contact</a>
      </li>
    </ul>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
      <!-- Navbar Search -->
      <li class="nav-item">
        <a class="nav-link" data-widget="navbar-search" href="#" role="button">
          <i class="fas fa-search"></i>
        </a>
        <div class="navbar-search-block">
          <form class="form-inline">
            <div class="input-group input-group-sm">
              <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
              <div class="input-group-append">
                <button class="btn btn-navbar" type="submit">
                  <i class="fas fa-search"></i>
                </button>
                <button class="btn btn-navbar" type="button" data-widget="navbar-search">
                  <i class="fas fa-times"></i>
                </button>
              </div>
            </div>
          </form>
        </div>
      </li>

      <!-- Messages Dropdown Menu -->
      <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#">
          <i class="far fa-comments"></i>
          <span class="badge badge-danger navbar-badge">3</span>
        </a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
          <a href="#" class="dropdown-item">
            <!-- Message Start -->
            <div class="media">
              <img src="../plugins/dist/img/user1-128x128.jpg" alt="User Avatar" class="img-size-50 mr-3 img-circle">
              <div class="media-body">
                <h3 class="dropdown-item-title">
                  Brad Diesel
                  <span class="float-right text-sm text-danger"><i class="fas fa-star"></i></span>
                </h3>
                <p class="text-sm">Call me whenever you can...</p>
                <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
              </div>
            </div>
            <!-- Message End -->
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            <!-- Message Start -->
            <div class="media">
              <img src="../plugins/dist/img/user8-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3">
              <div class="media-body">
                <h3 class="dropdown-item-title">
                  John Pierce
                  <span class="float-right text-sm text-muted"><i class="fas fa-star"></i></span>
                </h3>
                <p class="text-sm">I got your message bro</p>
                <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
              </div>
            </div>
            <!-- Message End -->
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            <!-- Message Start -->
            <div class="media">
              <img src="../plugins/dist/img/user3-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3">
              <div class="media-body">
                <h3 class="dropdown-item-title">
                  Nora Silvester
                  <span class="float-right text-sm text-warning"><i class="fas fa-star"></i></span>
                </h3>
                <p class="text-sm">The subject goes here</p>
                <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
              </div>
            </div>
            <!-- Message End -->
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item dropdown-footer">See All Messages</a>
        </div>
      </li>
      <!-- Notifications Dropdown Menu -->
      <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#">
          <i class="far fa-bell"></i>
          <span class="badge badge-warning navbar-badge">15</span>
        </a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
          <span class="dropdown-item dropdown-header">15 Notifications</span>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            <i class="fas fa-envelope mr-2"></i> 4 new messages
            <span class="float-right text-muted text-sm">3 mins</span>
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            <i class="fas fa-users mr-2"></i> 8 friend requests
            <span class="float-right text-muted text-sm">12 hours</span>
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            <i class="fas fa-file mr-2"></i> 3 new reports
            <span class="float-right text-muted text-sm">2 days</span>
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-widget="fullscreen" href="#" role="button">
          <i class="fas fa-expand-arrows-alt"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
          <i class="fas fa-th-large"></i>
        </a>
      </li>
    </ul>
  </nav>
  <!-- /.navbar -->

<!-- Sidebar Menu -->
{{> nav active_Profile=true}}
<!-- /.sidebar-menu -->


  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Profile</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">User Profile</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3">

            <!-- Profile Image -->
            <div class="card card-primary card-outline">
              <div class="card-body box-profile">
                <div class="text-center">
                  <img class="profile-user-img img-fluid img-circle"
                       src="../plugins/dist/img/user4-128x128.jpg"
                       alt="User profile picture">
                </div>

                <h3 class="profile-username text-center">{{ resultsGETQuery.general.firstname }} {{ resultsGETQuery.general.name }}</h3>

                <p class="text-muted text-center">{{ resultsGETQuery.general.city }} ({{ resultsGETQuery.general.country }})</p>

                <ul class="list-group list-group-unbordered mb-3">
                  <li class="list-group-item">

                    <b>Tank volume</b> <a class="float-right">{{ volumeTank }} l <i>({{volumeM3}}m3)</i></a>
                  </li>
                  <li class="list-group-item">
                    <b>Biomass min - max</b> <a class="float-right">{{ biomassMin }} - {{ biomassMax }} kg</a>
                  </li>
                  <li class="list-group-item">
                    <b>--</b> <a class="float-right">--</a>
                  </li>
                </ul>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->

            <!-- About Me Box -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">About Me</h3>
                <div style="text-align: right;"><a href="#" ><i class="fas fa-thin fa-gear"></i></a></div>

              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <strong><i class="fas fa-book mr-1"></i> Description</strong>

                <p class="text-muted">
                  Ex : Describe your installation
                </p>

                <hr>

                <strong><i class="fas fa-map-marker-alt mr-1"></i> Location</strong>

                <p class="text-muted">Malibu, California</p>

                <hr>

                <strong><i class="fas fa-pencil-alt mr-1"></i> Skills</strong>

                <p class="text-muted">
                  <span class="tag tag-danger">UI Design</span>
                  <span class="tag tag-success">Coding</span>
                  <span class="tag tag-info">Javascript</span>
                  <span class="tag tag-warning">PHP</span>
                  <span class="tag tag-primary">Node.js</span>
                </p>

                <hr>

                <strong><i class="far fa-file-alt mr-1"></i> Notes</strong>

                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum enim neque.</p>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
          <div class="col-md-9">
            <div class="card">
              <div class="card-header p-2">
                <ul class="nav nav-pills">
                  <li class="nav-item"><a class="nav-link active" href="#general" data-toggle="tab">General</a></li>
                  <li class="nav-item"><a class="nav-link" href="#installation" data-toggle="tab">Installation</a></li>
                  <li class="nav-item"><a class="nav-link" href="#sensors" data-toggle="tab">Sensors</a></li>

                </ul>
              </div><!-- /.card-header -->
              <div class="card-body">
                <div class="tab-content">
                  <!-- Start of GENERAL TAB -->
                  <div class="active tab-pane" id="general">
                    <form class="form-horizontal" id="formGeneral" method="post">
                      <div class="form-group row">
                        <label for="inputName" class="col-sm-2 col-form-label">Name</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" name="inputName" placeholder="Name" value="{{ resultsGETQuery.general.name }}">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="inputFirstName" class="col-sm-2 col-form-label">Firstname</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" name="inputFirstName" placeholder="Firstname" value="{{ resultsGETQuery.general.firstname }}">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
                        <div class="col-sm-10">
                          <input type="email" class="form-control" name="inputEmail" placeholder="Email" value="{{ resultsGETQuery.username }}" disabled>
                        </div>
                      </div>
                      <hr style="margin-top: 30px;margin-bottom: 30px;">
                      <div class="form-group row">
                        <label for="inputAddress" class="col-sm-2 col-form-label">Address</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" name="inputAddress" placeholder="Address" value="{{ resultsGETQuery.general.address }}">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="inputZipCode" class="col-sm-2 col-form-label">Zip Code</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" name="inputZipCode" placeholder="Ex : 75008" value="{{ resultsGETQuery.general.zipcode }}">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="inputCity" class="col-sm-2 col-form-label">City</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" name="inputCity" placeholder="City" value="{{ resultsGETQuery.general.city }}">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="inputCountry" class="col-sm-2 col-form-label">Country</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" name="inputCountry" placeholder="Country" value="{{ resultsGETQuery.general.country }}">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="inputPhone" class="col-sm-2 col-form-label">Phone</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" name="inputPhone" placeholder="Ex: +33612345678" value="{{ resultsGETQuery.general.phone }}">
                        </div>
                      </div>

                      <div class="form-group row">
                        <div class="offset-sm-2 col-sm-10">
                          <button type="submit" id="generalButton" class="btn btn-success">Submit</button>
                        </div>
                      </div>
                    </form>
                  </div>
                  <!-- Start of INSTALLATION TAB -->
                  <div class="tab-pane" id="installation">
                    <form class="form-horizontal" id="formInstallation" method="post">
                        <div class="row">
                            <div class="col-md-4">
                                <!-- Tank card -->
                                <div class="card card-primary">
                                    <div class="card-header">
                                        <h3 class="card-title">Tank Features</h3>
                                    </div>
                                    <div class="card-body">
                                        <label for="Length" class="col-sm-5">Length (cm)</label>
                                        <input class="form-control form-control-sm" type="text" name="tankLength" placeholder="Length (cm) - Ex : 120" value="{{ resultsGETQuery.installation.tank.tankLength }}">
                                        <br>
                                        <label for="Width" class="col-sm-5 col-form-label">Width (cm)</label>
                                        <input class="form-control form-control-sm" type="text" name="tankWidth" placeholder="Width (cm)" value="{{ resultsGETQuery.installation.tank.tankWidth }}">
                                        <br>
                                        <label for="Depth" class="col-sm-5 col-form-label">Depth (cm)</label>
                                        <input class="form-control form-control-sm" type="text" name="tankDepth" placeholder="Depth (cm)" value="{{ resultsGETQuery.installation.tank.tankDepth }}">
                                    </div>
                                </div>
                                </div>
                                <div class="col-md-4">
                            <!-- Biofilter card -->
                            <div class="card card-primary">
                                <div class="card-header">
                                    <h3 class="card-title">Biologic filter</h3>
                                </div>
                                <div class="card-body">
                                    <label for="Length" class="col-sm-5">Length (cm)</label>
                                    <input class="form-control form-control-sm" type="text" name="bioFilterLength" placeholder="Length (cm) - Ex : 120" value="{{ resultsGETQuery.installation.bioFilter.bioFilterLength }}">
                                    <br>
                                    <label for="Width" class="col-sm-5 col-form-label">Width (cm)</label>
                                    <input class="form-control form-control-sm" type="text" name="bioFilterWidth" placeholder="Width (cm)" value="{{ resultsGETQuery.installation.bioFilter.bioFilterWidth }}">
                                    <br>
                                    <label for="Depth" class="col-sm-5 col-form-label">Depth (cm)</label>
                                    <input class="form-control form-control-sm" type="text" name="bioFilterDepth" placeholder="Depth (cm)" value="{{ resultsGETQuery.installation.bioFilter.bioFilterDepth }}">
                                </div>
                            </div>
                                </div>
                                <div class="col-md-4">
                            <!-- material card -->
                            <div class="card card-primary">
                                <div class="card-header">
                                    <h3 class="card-title">Materials</h3>
                                </div>
                                <div class="card-body">
                                    <label for="waterPump" class="col-sm-5 col-form-label">Water pump</label>
                                    <input class="form-control form-control-sm" type="text" name="waterPump" placeholder="Water pump" value="{{ resultsGETQuery.installation.material.waterPump }}">
                                    <br>
                                    <label for="pressureFilter" class="col-sm-6 col-form-label">Pressure filter</label>
                                    <input class="form-control form-control-sm" type="text" name="pressureFilter" placeholder="Pressure filter" value="{{ resultsGETQuery.installation.material.pressureFilter }}">
                                    <br>
                                    <label for="airPump" class="col-sm-5 col-form-label">Air pump</label>
                                    <input class="form-control form-control-sm" type="text" name="airPump" placeholder="Air pump" value="{{ resultsGETQuery.installation.material.airPump }}">
                                </div>
                            </div>
                                </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-10">
                                <button type="submit" id="installationButton" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                    </form>
                  </div>
                  <!-- Start of SENSORS TAB -->
                  <div class="tab-pane" id="sensors">
                    <!-- Sensors table -->
                    <div class="card card-primary">
                      <div class="card-header">
                        <h3 class="card-title">Sensors List</h3>
                        <div style="text-align: left; padding-left: 100px;"><a href="#"><i class="fas fa-solid fa-arrows-rotate"></i></a></div>
                      </div>
                      <!-- /.card-header -->
                      <div class="card-body p-0">
                        <table class="table table-striped table-hover">
                          <thead>
                            <tr>
                              <th style="width: 20px">#</th>
                              <th>Date</th>
                              <th>Sensor name</th>
                              <th>Sensor description</th>
                              <th>Status</th>
                              <th style="width: 20px">Settings</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>1</td>
                              <td>05/02/2023</td>
                              <td>Outdoor</td>
                              <td><p>Outdoor sensor</p></td>
                              <td><span class="badge bg-danger">Not register</span></td>
                              <td><button type="button" class="btn" style="border:hidden;" data-toggle="modal" data-target="#modal-default">
                              <span class="badge bg-primary" style="padding: 5px;"><i class="fas fa-thin fa-pen-to-square"></i></span>
                              </button></td>
                            </tr>
                            <tr>
                              <td>2</td>
                              <td>05/02/2023</td>
                              <td>Tank</td>
                              <td><p>Tank sensor</p></td>
                              <td><span class="badge bg-success">Saved</span></td>
                              <td><button type="button" class="btn" style="border:hidden;" data-toggle="modal" data-target="#modal-default">
                              <span class="badge bg-primary" style="padding: 5px;"><i class="fas fa-thin fa-pen-to-square"></i></span>
                              </button></td>
                            </tr>
                            <tr>
                              <td>3</td>
                              <td>05/02/2023</td>
                              <td>Greenhouse</td>
                              <td><p>Greenhouse sensor</p></td>
                              <td><span class="badge bg-success">Saved</span></td>
                              <td><button type="button" class="btn" style="border:hidden;" data-toggle="modal" data-target="#modal-default">
                              <span class="badge bg-primary" style="padding: 5px;"><i class="fas fa-thin fa-pen-to-square"></i></span>
                              </button></td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <!-- /.card-body -->
                    </div>
                    <!-- Notification -->
                    <div class="card card-primary">
                      <div class="card-header">
                        <h3 class="card-title">Notification manager</h3>
                      </div>
                      <!-- /.card-header -->
                      <div class="card-body p-0">
                        <table class="table table-striped table-hover">
                          <thead>
                            <tr>
                              <th>Name</th>
                              <th style="width: 40%;"></th>
                              <th style="width: 5%;">Settings</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <!--add "checked" in the input to activate -->
                              <td>Email</td>
                              <td><input type="checkbox" data-toggle="toggle" data-on="Yes" data-off="No" data-onstyle="success" data-offstyle="danger"></td>
                              <td><button type="button" class="btn" style="border:hidden;" data-toggle="modal" data-target="#modal-notif">
                              <span class="badge bg-primary" style="padding: 5px;"><i class="fas fa-thin fa-pen-to-square"></i></span>
                              </button></td>
                            </tr>
                            <tr>
                              <td>SMS</td>
                              <td><input type="checkbox" data-toggle="toggle" data-on="Yes" data-off="No" data-onstyle="success" data-offstyle="danger"></td>
                              <td><button type="button" class="btn" style="border:hidden;" data-toggle="modal" data-target="#modal-notif">
                              <span class="badge bg-primary" style="padding: 5px;"><i class="fas fa-thin fa-pen-to-square"></i></span>
                              </button></td>
                            </tr>
                            <tr>
                              <td>Telegram</td>
                              <td><input type="checkbox" data-toggle="toggle" data-on="Yes" data-off="No" data-onstyle="success" data-offstyle="danger"></td>
                              <td><button type="button" class="btn" style="border:hidden;" data-toggle="modal" data-target="#modal-notif">
                              <span class="badge bg-primary" style="padding: 5px;"><i class="fas fa-thin fa-pen-to-square"></i></span>
                              </button></td>
                            </tr>
                            <tr>
                              <td>Discord</td>
                              <td><input type="checkbox" data-toggle="toggle" data-on="Yes" data-off="No" data-onstyle="success" data-offstyle="danger"></td>
                              <td><button type="button" class="btn" style="border:hidden;" data-toggle="modal" data-target="#modal-notif">
                              <span class="badge bg-primary" style="padding: 5px;"><i class="fas fa-thin fa-pen-to-square"></i></span>
                              </button></td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <!-- /.card-body -->
                    </div>

                  </div>
                  <!-- /.tab-pane -->
                </div>
              </div><!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
    {{> footer }}
  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->
<!-- notification -->
{{> notification }}
<!-- notification -->
<!-- modal -->
{{> modal }}
<!-- modal -->


<!-- jQuery -->
<!--<script src="../public/plugins/jquery/jquery.min.js"></script>-->
<script src="//code.jquery.com/jquery-3.6.3.min.js"></script>
<!-- Toastr -->
<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
<!-- Bootstrap 4 -->
<script src="../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Bootstrap Switch -->
<script src="../plugins/bootstrap-switch/js/bootstrap-switch.min.js"></script>
<!-- BS-Stepper -->
<script src="../plugins/bs-stepper/js/bs-stepper.min.js"></script>
<!-- AdminLTE App -->
<script src="../plugins/dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="../plugins/dist/js/demo.js"></script>
<!-- Toastr -->
<script src="../plugins/toastr/toastr.min.js"></script>
<!-- Script profile -->
<script src="../javascripts/profile.js"></script>
<!-- FontAwesome -->
<script src="https://kit.fontawesome.com/c50fdf0b57.js" crossorigin="anonymous"></script>
<!-- Bootstrap Switch Button -->
<script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>

</body>
</html>
